{% extends 'base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row" method="post" enctype="multipart/form-data">
                <div class="card-center">
                    <p class="card-text">Вы действительно хотите удалить товар "{{ product.name|title }}"?</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a class="btn btn-success" href="{% url 'catalog:products' %}" role="button">Отменить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}